*{
    margin : 0;
    padding: 0;
}
li a{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
span{
    display: block;
}
/* Class Part */
.container{
    background-color: #eec745;
    min-height: 386px ;
}
.brand {
    font-family: 'Teko', sans-serif;
}
.image {
    border-radius: 10px 10px 0px 0px;
}
.box {
    margin: 10px;
    background-color: cornsilk;
    border-radius: 10px;    
    box-shadow: 0 8px 6px -6px black;
}
.box :hover{
    cursor:pointer;
    color:red;
    transform: scale(0.8);
}
.headline{
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    text-align: center;
}
.ingredientBox{
    margin-top: -140px;
    transform: scale(0.7);
    width: 100%;
    letter-spacing: 0.5px;
    background-color: cornsilk;
    border-radius: 10px;    
    box-shadow: 0 8px 6px -6px black; 
    padding-bottom: 30px;
}
.ingredientBox h2 {
    font-family: 'Bebas Neue', cursive;  
}
.ingredientBox h4{
    font-family: 'Audiowide', cursive;
}
.ingredientBox li {
    list-style-type: none;
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;

}
.ingredientBox li::first-letter{
   text-transform: capitalize;

}
/* ID part */
#welcoming h2{
    font-family: 'Audiowide', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 140px;
}
#welcoming p{
    font-family: 'Audiowide', cursive;
    font-size: 30px;
    text-align: center;
}
#result{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}
#search {
    background-color:#9745e4;
    font-family: 'Audiowide', cursive;
    color:white;
    font-size:18px;
    letter-spacing:1.5px;
}
/* Media Query Part */
 @media only screen and (min-width: 992px) {
    .ingredientBox{
        margin-top: 10px;
        transform: scale(1.0);
        width: 30%;
        background-color: cornsilk;
        border-radius: 10px;    
        box-shadow: 0 8px 6px -6px black; 

    }
    #welcoming{
        padding-top: 0px;
    }
    .container{
        background-color: #eec745;
        min-height: 702px ;
    }
    #result{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
 }