/* font-family: 'Audiowide', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Reggae One', cursive;
font-family: 'RocknRoll One', sans-serif;
font-family: 'Teko', sans-serif; */
*{
    margin : 0;
    padding: 0;
}
li a{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
span{
    display: block;
}
.container{
    background-color: #eec745;
    min-height: 718px ;
}
.brand {
    font-family: 'Teko', sans-serif;
}
.image {
    border-radius: 10px 10px 0px 0px;
}
.box {
    margin: 10px;
    background-color: cornsilk;
    border-radius: 10px;    
    box-shadow: 0 8px 6px -6px black;
}
.box :hover{
    cursor:pointer;
    color:red;
    transform: scale(0.8);
}
.headline{
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    text-align: center;
}
#welcoming h2{
    font-family: 'Audiowide', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 140px;
}
#welcoming p{
    font-family: 'Audiowide', cursive;
    font-size: 30px;
    text-align: center;
}
#result{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#search {
    background-color:#9745e4;
    font-family: 'Audiowide', cursive;
    color:white;
    font-size:18px;
    letter-spacing:1.5px;
}


