/* font-family: 'Audiowide', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Reggae One', cursive;
font-family: 'RocknRoll One', sans-serif;
font-family: 'Teko', sans-serif; */

*{
    margin : 0;
    padding: 0;
}
h1{
  
    font-family: 'Teko', sans-serif;
}
li a{
    font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
.container{
    background-color: #eec745;
}
.image {
    border-radius: 10px 10px 0px 0px;
}
.box {
    
    margin: 10px;
    background-color: cornsilk;
    border-radius: 10px;    
    box-shadow: 0 8px 6px -6px black;
}
.headline{
    font-size: 18px;
    text-align: center;
}
#result{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
#search {
    background-color:#9745e4;
    font-family: 'Audiowide', cursive;
    color:white;
    font-size:18px;
    letter-spacing:1.5px;
}


